% % --------------- %
% % ---  JOB    --- %
% % --------------- %

Job: "WZ_ANN_m350_BONLY_Asimov2"
  Label: "ssWW"
  CmeLabel: "13 TeV"
  LumiLabel: "139 fb^{-1}"
  POI: "mu_H5"
  ReadFrom: HIST
  MergeUnderOverFlow: FALSE
  HistoPath: "/data/hrzhao/Samples/ssWWWZ_run3/MyOutputs/Fitting_WZ/hist_output/m350"
  HistoFile: "hist_m350"
  OutputDir: "/data/hrzhao/Samples/ssWWWZ_run3/MyOutputs/Fitting_WZ/fit_output/"
  DebugLevel: 1 # From 0 to 5
  MCstatThreshold: 0.001
  HistoChecks: NOCRASH
  PlotOptions: "YIELDS, CHI2, OVERSIG, NOXERR, PREFITONPOSTFIT"
  RankingPlot: "all"
  RankingMaxNP: 10
  SystControlPlots: FALSE #TRUE
  SystDataPlots: FALSE
  DoSummaryPlot: TRUE
  DoTables: TRUE
  DoSignalRegionsPlot: TRUE
  DoPieChartPlot: TRUE
  UseGammaPulls: TRUE
  ImageFormat: "pdf"

% % --------------- %
% % ---  FIT    --- %
% % --------------- %

Fit: "BONLY_CRSR"
  FitType: BONLY
  FitRegion: CRSR
  POIAsimov: 0
  UseMinos: "mu"
  FitBlind: TRUE
  SetRandomInitialNPval: 0.1

Limit: "limit"
  LimitType: ASYMPTOTIC

% % --------------- %
% % --- REGIONS --- %
% % --------------- %

Region: "SR"
  Type: SIGNAL
  VariableTitle: "M_{WZ}"
  YaxisTitle: "Events / 50 GeV"
  Label: "Signal Region"
  LogScale: TRUE
  Ymax: 600
  Ymin: 0.03
  HistoName: "GMMVASR"

Region: "CRWZ"
  Type: CONTROL
  VariableTitle: "M_{WZ}"
  Label: "WZ Control Region"
  LogScale: TRUE
  HistoName: "GMMVACR"

Region: "CRZZ"
  Type: CONTROL
  VariableTitle: "M_{WZ}"
  Label: "ZZ Control Region"
  LogScale: TRUE
  HistoName: "ZZCRJJ"

% % --------------- %
% % --- SAMPLES --- %
% % --------------- %

%%% ------- NOMINAL SAMPLES

Sample: "GMvbf350"
  Type: SIGNAL
  Title: "H_{5}^{#pm}(m350)"
  HistoNameSuff: "_GMvbf350"
  FillColor: 632
  LineColor: 632
  UseMCstat: TRUE

Sample: "WZQCD"
  Type: BACKGROUND
  Title: "W^{#pm}Z-QCD"
  HistoNameSuff: "_WZQCD"
  FillColorRGB: 204,204,204
  LineColorRGB: 204,204,204
  UseMCstat: TRUE

Sample: "WZEW"
  Type: BACKGROUND
  Title: "W^{#pm}Z-EWK"
  HistoNameSuff: "_WZEW"
  FillColorRGB: 225,153,153
  LineColorRGB: 225,153,153
  UseMCstat: TRUE

Sample: "ZZ"
  Type: BACKGROUND
  Title: "ZZ"
  HistoNameSuff: "_ZZ"
  FillColorRGB: 153,255,153
  LineColorRGB: 153,255,153
  UseMCstat: TRUE

Sample: "VVV+tt"
  Type: BACKGROUND
  Title: "VVV+t\bar{t}V"
  HistoNameSuff: "_VVV"
  FillColorRGB: 102,153,255
  LineColorRGB: 102,153,255
  UseMCstat: TRUE

Sample: "Fake"
  Type: BACKGROUND
  Title: "Fake/NonP"
  HistoNameSuff: "_FakeRenorm"
  FillColorRGB: 255,255,0
  LineColorRGB: 255,255,0
  UseMCstat: TRUE

Sample: "Data"
  Type: DATA
  Title: "Data"
  HistoNameSuff: "_data"

% % --------------- %
% % - NORMFACTORS - %
% % --------------- %

NormFactor: "mu_H5"
  Title: "#it{#mu}(#it{H^{#pm}})"
  Nominal: 1
  Samples: GMvbf350

NormFactor: "mu_WZQCD"
  Title: "#it{#mu}_{WZQCD}"
  Nominal: 1
  Samples: WZQCD

NormFactor: "mu_ZZ"
  Title: "#it{#mu}_{ZZ}"
  Nominal: 1
  Samples: ZZ
