% % --------------- %
% % ---  JOB    --- %
% % --------------- %

Job: "ssWW_bdt_m525"
  Label: "ssWW"
  CmeLabel: "13 TeV"
  LumiLabel: "139 fb^{-1}"
  POI: "H5PPSigXsecOverSM"
  ReadFrom: HIST
  MergeUnderOverFlow: TRUE
  HistoPath: "/data/hrzhao/Samples/ssWWWZ_run3/MyOutputs/Attempt1/hist_output/m525"
  HistoFile: "hist_m525"
  OutputDir: "/data/hrzhao/Samples/ssWWWZ_run3/MyOutputs/Attempt1/fit_output/"
  DebugLevel: 1 # From 0 to 5
  MCstatThreshold: 0.001
  HistoChecks: NOCRASH
  PlotOptions: "LEFT,NOXERR,NOENDERR"
  RankingPlot: "all"
  RankingMaxNP: 10
  SystControlPlots: FALSE #TRUE
  SystDataPlots: FALSE
  DoSummaryPlot: TRUE
  DoTables: TRUE
  DoSignalRegionsPlot: TRUE
  DoPieChartPlot: TRUE
  UseGammaPulls: TRUE
  ImageFormat: "pdf"

% % --------------- %
% % ---  FIT    --- %
% % --------------- %

Fit: "SPLUSB_CRSR_Asimov"
  FitType: SPLUSB
  FitRegion: CRSR
  POIAsimov: 1
  UseMinos: "mu"
  FitBlind: TRUE
  SetRandomInitialNPval: 0.1

Limit: "limit"
  LimitType: ASYMPTOTIC
  LimitBlind: TRUE

% % --------------- %
% % --- REGIONS --- %
% % --------------- %

Region: "SR"
  Type: SIGNAL
  VariableTitle: "BDT scores"
  Label: "Signal Region"
  HistoName: "SR"

Region: "CRlowMjj"
  Type: CONTROL
  Label: "Low M_{jj} Control Region"
  HistoName: "CRlowMjj"

Region: "CRWZ"
  Type: CONTROL
  Label: "WZ Control Region"
  HistoName: "CRWZ"

% % --------------- %
% % --- SAMPLES --- %
% % --------------- %

%%% ------- NOMINAL SAMPLES

Sample: "SigH5pp_m525"
  Type: SIGNAL
  Title: "H_{5}^{#pm#pm}(525), s_{H}=0.5"
  FillColorRGB: 150,130,200
  LineColorRGB: 150,130,200
  HistoNameSuff: "_m525"
  UseMCstat: TRUE
  Exclude: "CRWZ"

Sample: "EWKWW"
  Type: BACKGROUND
  Title: "SM W^{#pm}W^{#pm}jj"
  FillColorRGB: 200,100,100
  LineColorRGB: 200,100,100
  HistoNameSuff: "_EWKWW"
  UseMCstat: TRUE

Sample: "QCDWW"
  Type: BACKGROUND
  Title: "SM W^{#pm}W^{#pm}jj"
  FillColorRGB: 200,100,100
  LineColorRGB: 200,100,100
  HistoNameSuff: "_QCDWW"
  UseMCstat: TRUE

Sample: "INTWW"
  Type: BACKGROUND
  Title: "SM W^{#pm}W^{#pm}jj"
  FillColorRGB: 200,100,100
  LineColorRGB: 200,100,100
  HistoNameSuff: "_INTWW"
  UseMCstat: TRUE

Sample: "EWKWZ"
  Type: BACKGROUND
  Title: "SM W^{#pm}Zjj"
  FillColorRGB: 250,180,90
  LineColorRGB: 250,180,90
  HistoNameSuff: "_EWKWZ"
  UseMCstat: TRUE

Sample: "QCDWZ"
  Type: BACKGROUND
  Title: "SM W^{#pm}Zjj"
  FillColorRGB: 250,180,90
  LineColorRGB: 250,180,90
  HistoNameSuff: "_QCDWZ"
  UseMCstat: TRUE

Sample: "ddFakes"
  Type: BACKGROUND
  Title: "Non-prompt"
  FillColorRGB: 110,25,75
  LineColorRGB: 110,25,75
  HistoNameSuff: "_ddFakes"
  UseMCstat: TRUE
  Exclude: "CRWZ"

% % --------------- %
% % - NORMFACTORS - %
% % --------------- %

NormFactor: "H5PPSigXsecOverSM"
  Title: "#it{#mu}(#it{H^{#pm#pm}})"
  Nominal: 1
  Min: 0
  Max: 5
  Samples: SigH5pp_m525

NormFactor: "EWSigXsecOverSM"
  Title: "#it{#mu}(#it{W^{#pm}W^{#pm}-EW})"
  Nominal: 1
  Min: 0
  Max: 5
  Samples: EWKWW

NormFactor: "sqrtEWSigXsecOverSM"
  Title: "#sqrt{it{#mu}(#it{W^{#pm}W^{#pm}-EW})}"
  Nominal: 1
  Min: 0
  Max: 5
  Expression: sqrt(EWSigXsecOverSM):EWSigXsecOverSM[1,0,5]
  Samples: INTWW

NormFactor: "mu_WZ"
  Title: "#it{#mu}(#it{WZ-QCD})"
  Nominal: 1
  Min: 0
  Max: 100
  Samples: QCDWZ
