#################################
# TRExFitter ssWW configuration #
# Author: Daniel Camarero       #
# Date: 12.10.2022              #
#                               #
# Fit for mass point: 900 GeV   #
#                               #
#################################

#
# 1 - JOB
#

Job: "Anal_ssWW_interpretation_m900"
  Label: "ssWW"
  CmeLabel: "13 TeV"
  LumiLabel: "139 fb^{-1}"
  POI: "H5PPSigXsecOverSM"
  ReadFrom: HIST
  MergeUnderOverFlow: TRUE
  HistoPath: "/data/hrzhao/Samples/ssWWWZ_run3/information_Run2_ssWWHpp/fit_inputs/histograms_th1_step2"
  DebugLevel: 1 # From 0 to 5
  MCstatThreshold: 0.001
  HistoChecks: NOCRASH
  PlotOptions: "LEFT,NOXERR,NOENDERR"
  RankingPlot: "all"
  RankingMaxNP: 10
  SystControlPlots: FALSE #TRUE
  SystDataPlots: FALSE
  DoSummaryPlot: TRUE
  DoTables: TRUE
  DoSignalRegionsPlot: TRUE
  DoPieChartPlot: TRUE
  UseGammaPulls: TRUE
  ImageFormat: "pdf"
  #BlindSRs: TRUE

#
# 2 - FIT
#

Fit: "MjjFit"
  FitType: SPLUSB
  # FitType: BONLY
  FitBlind: FALSE
  FitRegion: CRSR
  # NumCPU: 8
  # POIAsimov: 1
  # UseMinos: SigXsecOverSMBin1,SigXsecOverSMBin2,SigXsecOverSMBin3,SigXsecOverSMBin4,SigXsecOverSMBin5,SigXsecOverSMBin6
  # doLHscan: SigXsecOverSMBin1,SigXsecOverSMBin2,SigXsecOverSMBin3,SigXsecOverSMBin4,SigXsecOverSMBin5,SigXsecOverSMBin6

#
# 3 - LIMIT
#

Limit: "limit"
  LimitType: ASYMPTOTIC
  LimitBlind: FALSE
  #SignalInjection: TRUE

#
# 4 - REGIONS
#

### Signal region

# Bin - 1 [0-100]

Region: "SRMTBin1all"
  Type: SIGNAL
  HistoName: "MjjSRMTBin1run2all"
  VariableTitle: "M_{jj} [GeV]"
  Label: "SRMTBin1 run2 all"
  ShortLabel: "SRMTBin1run2all"
  DataType: DATA

# Bin - 2 [100-180]

Region: "SRMTBin2all"
  Type: SIGNAL
  HistoName: "MjjSRMTBin2run2all"
  VariableTitle: "M_{jj} [GeV]"
  Label: "SRMTBin2 run2 all"
  ShortLabel: "SRMTBin2run2all"
  DataType: DATA

# Bin - 3 [180-230]

Region: "SRMTBin3all"
  Type: SIGNAL
  HistoName: "MjjSRMTBin3run2all"
  VariableTitle: "M_{jj} [GeV]"
  Label: "SRMTBin3 run2 all"
  ShortLabel: "SRMTBin3run2all"
  DataType: DATA

# Bin - 4 [230-280]

Region: "SRMTBin4all"
  Type: SIGNAL
  HistoName: "MjjSRMTBin4run2all"
  VariableTitle: "M_{jj} [GeV]"
  Label: "SRMTBin4 run2 all"
  ShortLabel: "SRMTBin4run2all"
  DataType: DATA

# Bin - 5 [280-350]

Region: "SRMTBin5all"
  Type: SIGNAL
  HistoName: "MjjSRMTBin5run2all"
  VariableTitle: "M_{jj} [GeV]"
  Label: "SRMTBin5 run2 all"
  ShortLabel: "SRMTBin5run2all"
  DataType: DATA

# Bin - 6 [350-500]

Region: "SRMTBin6all"
  Type: SIGNAL
  HistoName: "MjjSRMTBin6run2all"
  VariableTitle: "M_{jj} [GeV]"
  Label: "SRMTBin6 run2 all"
  ShortLabel: "SRMTBin6run2all"
  DataType: DATA

# Bin - 7 [500-800]

Region: "SRMTBin7all"
  Type: SIGNAL
  HistoName: "MjjSRMTBin7run2all"
  VariableTitle: "M_{jj} [GeV]"
  Label: "SRMTBin7 run2 all"
  ShortLabel: "SRMTBin7run2all"
  DataType: DATA

# Bin - 8 [800-1500]

Region: "SRMTBin8all"
  Type: SIGNAL
  HistoName: "MjjSRMTBin8run2all"
  VariableTitle: "M_{jj} [GeV]"
  Label: "SRMTBin8 run2 all"
  ShortLabel: "SRMTBin8run2all"
  DataType: DATA

# VALIDATION regions

Region: "SRall"
  Type: VALIDATION
  HistoName: "MjjSRrun2all"
  VariableTitle: "M_{jj} [GeV]"
  Label: "SR run2 all"
  ShortLabel: "SRrun2all"
  DataType: DATA

Region: "SRallMT"
  Type: VALIDATION
  HistoName: "MTSRrun2all"
  VariableTitle: "M_{T} [GeV]"
  Label: "SR run2 all MT"
  ShortLabel: "SRrun2allMT"
  DataType: DATA

### Control region LowMjj

# Bin - 1 [0-100]

Region: "LowMjjMTBin1all"
  Type: CONTROL
  HistoName: "MjjLowMjjMTBin1run2all"
  VariableTitle: "M_{jj} [GeV]"
  Label: "LowMjjMTBin1 run2 all"
  ShortLabel: "LowMjjMTBin1run2all"
  DataType: DATA

# Bin - 2 [100-180]

Region: "LowMjjMTBin2all"
  Type: CONTROL
  HistoName: "MjjLowMjjMTBin2run2all"
  VariableTitle: "M_{jj} [GeV]"
  Label: "LowMjjMTBin2 run2 all"
  ShortLabel: "LowMjjMTBin2run2all"
  DataType: DATA

# Bin - 3 [180-230]

Region: "LowMjjMTBin3all"
  Type: CONTROL
  HistoName: "MjjLowMjjMTBin3run2all"
  VariableTitle: "M_{jj} [GeV]"
  Label: "LowMjjMTBin3 run2 all"
  ShortLabel: "LowMjjMTBin3run2all"
  DataType: DATA

# Bin - 4 [230-280]

Region: "LowMjjMTBin4all"
  Type: CONTROL
  HistoName: "MjjLowMjjMTBin4run2all"
  VariableTitle: "M_{jj} [GeV]"
  Label: "LowMjjMTBin4 run2 all"
  ShortLabel: "LowMjjMTBin4run2all"
  DataType: DATA

# Bin - 5 [280-350]

Region: "LowMjjMTBin5all"
  Type: CONTROL
  HistoName: "MjjLowMjjMTBin5run2all"
  VariableTitle: "M_{jj} [GeV]"
  Label: "LowMjjMTBin5 run2 all"
  ShortLabel: "LowMjjMTBin5run2all"
  DataType: DATA

# Bin - 6 [350-500]

Region: "LowMjjMTBin6all"
  Type: CONTROL
  HistoName: "MjjLowMjjMTBin6run2all"
  VariableTitle: "M_{jj} [GeV]"
  Label: "LowMjjMTBin6 run2 all"
  ShortLabel: "LowMjjMTBin6run2all"
  DataType: DATA

# Bin - 7 [500-800]

Region: "LowMjjMTBin7all"
  Type: CONTROL
  HistoName: "MjjLowMjjMTBin7run2all"
  VariableTitle: "M_{jj} [GeV]"
  Label: "LowMjjMTBin7 run2 all"
  ShortLabel: "LowMjjMTBin7run2all"
  DataType: DATA

# Bin - 8 [800-1500]

Region: "LowMjjMTBin8all"
  Type: CONTROL
  HistoName: "MjjLowMjjMTBin8run2all"
  VariableTitle: "M_{jj} [GeV]"
  Label: "LowMjjMTBin8 run2 all"
  ShortLabel: "LowMjjMTBin8run2all"
  DataType: DATA

# VALIDATION regions

Region: "LowMjjall"
  Type: VALIDATION
  HistoName: "MjjLowMjjrun2all"
  VariableTitle: "M_{jj} [GeV]"
  Label: "LowMjj run2 all"
  ShortLabel: "LowMjjrun2all"
  DataType: DATA

Region: "LowMjjallMT"
  Type: VALIDATION
  HistoName: "MTLowMjjrun2all"
  VariableTitle: "M_{T} [GeV]"
  Label: "LowMjj run2 all MT"
  ShortLabel: "LowMjjrun2allMT"
  DataType: DATA

### Third - CR WZ

Region: "CutCRWZall"
  Type: CONTROL
  HistoName: "MjjCutCRWZrun2all"
  VariableTitle: "M_{jj} [GeV]"
  Label: "CutCRWZ run2 all"
  ShortLabel: "CutCRWZrun2all"
  DataType: DATA

#
# 5 - SAMPLES
#

### Data

Sample: "Data"
  Title: "Data 2015-2018"
  Type: DATA
  HistoFile: "Data"

### Backgrounds (list 1: ssWW QCD + EW + INT )

# ssWW QCD COMPONENT (BACKGROUND)

Sample: "SigQCDLOMGH7"
  Type: BACKGROUND
  Title: "W^{#pm}W^{#pm}jj" # "W^{#pm}W^{#pm}jj QCD"
  FillColorRGB: 200,100,100
  LineColorRGB: 200,100,100
  HistoFile: "SigQCDLOMGH7"
  UseMCstat: TRUE

# ssWW EW COMPONENT (BACKGROUND)

Sample: "SigEWLOMGH7_MTBin1"
  Type: BACKGROUND
  Title: "W^{#pm}W^{#pm}jj" # "W^{#pm}W^{#pm}jj EW_{bin1}"
  FillColorRGB: 200,100,100
  LineColorRGB: 200,100,100
  HistoFile: "SigEWLOMGH7_MTBin1"
  Exclude: SRMTBin2all,SRMTBin3all,SRMTBin4all,SRMTBin5all,SRMTBin6all,SRMTBin7all,SRMTBin8all,LowMjjMTBin2all,LowMjjMTBin3all,LowMjjMTBin4all,LowMjjMTBin5all,LowMjjMTBin6all,LowMjjMTBin7all,LowMjjMTBin8all
  UseMCstat: TRUE

Sample: "SigEWLOMGH7_MTBin2"
  Type: BACKGROUND
  Title: "W^{#pm}W^{#pm}jj" # "W^{#pm}W^{#pm}jj EW_{bin2}"
  FillColorRGB: 200,100,100
  LineColorRGB: 200,100,100
  HistoFile: "SigEWLOMGH7_MTBin2"
  Exclude:  SRMTBin1all,SRMTBin3all,SRMTBin4all,SRMTBin5all,SRMTBin6all,SRMTBin7all,SRMTBin8all,LowMjjMTBin1all,LowMjjMTBin3all,LowMjjMTBin4all,LowMjjMTBin5all,LowMjjMTBin6all,LowMjjMTBin7all,LowMjjMTBin8all
  UseMCstat: TRUE

Sample: "SigEWLOMGH7_MTBin3"
  Type: BACKGROUND
  Title: "W^{#pm}W^{#pm}jj" # "W^{#pm}W^{#pm}jj EW_{bin3}"
  FillColorRGB: 200,100,100
  LineColorRGB: 200,100,100
  HistoFile: "SigEWLOMGH7_MTBin3"
  Exclude: SRMTBin1all,SRMTBin2all,SRMTBin4all,SRMTBin5all,SRMTBin6all,SRMTBin7all,SRMTBin8all,LowMjjMTBin1all,LowMjjMTBin2all,LowMjjMTBin4all,LowMjjMTBin5all,LowMjjMTBin6all,LowMjjMTBin7all,LowMjjMTBin8all
  UseMCstat: TRUE

Sample: "SigEWLOMGH7_MTBin4"
  Type: BACKGROUND
  Title: "W^{#pm}W^{#pm}jj" # "W^{#pm}W^{#pm}jj EW_{bin4}"
  FillColorRGB: 200,100,100
  LineColorRGB: 200,100,100
  HistoFile: "SigEWLOMGH7_MTBin4"
  Exclude: SRMTBin1all,SRMTBin2all,SRMTBin3all,SRMTBin5all,SRMTBin6all,SRMTBin7all,SRMTBin8all,LowMjjMTBin1all,LowMjjMTBin2all,LowMjjMTBin3all,LowMjjMTBin5all,LowMjjMTBin6all,LowMjjMTBin7all,LowMjjMTBin8all
  UseMCstat: TRUE

Sample: "SigEWLOMGH7_MTBin5"
  Type: BACKGROUND
  Title: "W^{#pm}W^{#pm}jj" # "W^{#pm}W^{#pm}jj EW_{bin5}"
  FillColorRGB: 200,100,100
  LineColorRGB: 200,100,100
  HistoFile: "SigEWLOMGH7_MTBin5"
  Exclude: SRMTBin1all,SRMTBin2all,SRMTBin3all,SRMTBin4all,SRMTBin6all,SRMTBin7all,SRMTBin8all,LowMjjMTBin1all,LowMjjMTBin2all,LowMjjMTBin3all,LowMjjMTBin4all,LowMjjMTBin6all,LowMjjMTBin7all,LowMjjMTBin8all
  UseMCstat: TRUE

Sample: "SigEWLOMGH7_MTBin6"
  Type: BACKGROUND
  Title: "W^{#pm}W^{#pm}jj" # "W^{#pm}W^{#pm}jj EW_{bin6}"
  FillColorRGB: 200,100,100
  LineColorRGB: 200,100,100
  HistoFile: "SigEWLOMGH7_MTBin6"
  Exclude: SRMTBin1all,SRMTBin2all,SRMTBin3all,SRMTBin4all,SRMTBin5all,SRMTBin7all,SRMTBin8all,LowMjjMTBin1all,LowMjjMTBin2all,LowMjjMTBin3all,LowMjjMTBin4all,LowMjjMTBin5all,LowMjjMTBin7all,LowMjjMTBin8all
  UseMCstat: TRUE

Sample: "SigEWLOMGH7_MTBin7"
  Type: BACKGROUND
  Title: "W^{#pm}W^{#pm}jj" # "W^{#pm}W^{#pm}jj EW_{bin7}"
  FillColorRGB: 200,100,100
  LineColorRGB: 200,100,100
  HistoFile: "SigEWLOMGH7_MTBin7"
  Exclude: SRMTBin1all,SRMTBin2all,SRMTBin3all,SRMTBin4all,SRMTBin5all,SRMTBin6all,SRMTBin8all,LowMjjMTBin1all,LowMjjMTBin2all,LowMjjMTBin3all,LowMjjMTBin4all,LowMjjMTBin5all,LowMjjMTBin6all,LowMjjMTBin8all
  UseMCstat: TRUE

Sample: "SigEWLOMGH7_MTBin8"
  Type: BACKGROUND
  Title: "W^{#pm}W^{#pm}jj" # "W^{#pm}W^{#pm}jj EW_{bin8}"
  FillColorRGB: 200,100,100
  LineColorRGB: 200,100,100
  HistoFile: "SigEWLOMGH7_MTBin8"
  Exclude: SRMTBin1all,SRMTBin2all,SRMTBin3all,SRMTBin4all,SRMTBin5all,SRMTBin6all,SRMTBin7all,LowMjjMTBin1all,LowMjjMTBin2all,LowMjjMTBin3all,LowMjjMTBin4all,LowMjjMTBin5all,LowMjjMTBin6all,LowMjjMTBin7all
  UseMCstat: TRUE

# ssWW EW-QCD INTERFERENCE (BACKGROUND)

Sample: "SigINTLOMGH7_MTBin1"
  Type: BACKGROUND
  Title: "W^{#pm}W^{#pm}jj" # "W^{#pm}W^{#pm}jj EW_{bin1}"
  FillColorRGB: 200,100,100
  LineColorRGB: 200,100,100
  HistoFile: "SigINTLOMGH7_MTBin1"
  Exclude: SRMTBin2all,SRMTBin3all,SRMTBin4all,SRMTBin5all,SRMTBin6all,SRMTBin7all,SRMTBin8all,LowMjjMTBin2all,LowMjjMTBin3all,LowMjjMTBin4all,LowMjjMTBin5all,LowMjjMTBin6all,LowMjjMTBin7all,LowMjjMTBin8all
  UseMCstat: TRUE

Sample: "SigINTLOMGH7_MTBin2"
  Type: BACKGROUND
  Title: "W^{#pm}W^{#pm}jj" # "W^{#pm}W^{#pm}jj EW_{bin2}"
  FillColorRGB: 200,100,100
  LineColorRGB: 200,100,100
  HistoFile: "SigINTLOMGH7_MTBin2"
  Exclude: SRMTBin1all,SRMTBin3all,SRMTBin4all,SRMTBin5all,SRMTBin6all,SRMTBin7all,SRMTBin8all,LowMjjMTBin1all,LowMjjMTBin3all,LowMjjMTBin4all,LowMjjMTBin5all,LowMjjMTBin6all,LowMjjMTBin7all,LowMjjMTBin8all
  UseMCstat: TRUE

Sample: "SigINTLOMGH7_MTBin3"
  Type: BACKGROUND
  Title: "W^{#pm}W^{#pm}jj" # "W^{#pm}W^{#pm}jj EW_{bin3}"
  FillColorRGB: 200,100,100
  LineColorRGB: 200,100,100
  HistoFile: "SigINTLOMGH7_MTBin3"
  Exclude: SRMTBin1all,SRMTBin2all,SRMTBin4all,SRMTBin5all,SRMTBin6all,SRMTBin7all,SRMTBin8all,LowMjjMTBin1all,LowMjjMTBin2all,LowMjjMTBin4all,LowMjjMTBin5all,LowMjjMTBin6all,LowMjjMTBin7all,LowMjjMTBin8all
  UseMCstat: TRUE

Sample: "SigINTLOMGH7_MTBin4"
  Type: BACKGROUND
  Title: "W^{#pm}W^{#pm}jj" # "W^{#pm}W^{#pm}jj EW_{bin4}"
  FillColorRGB: 200,100,100
  LineColorRGB: 200,100,100
  HistoFile: "SigINTLOMGH7_MTBin4"
  Exclude: SRMTBin1all,SRMTBin2all,SRMTBin3all,SRMTBin5all,SRMTBin6all,SRMTBin7all,SRMTBin8all,LowMjjMTBin1all,LowMjjMTBin2all,LowMjjMTBin3all,LowMjjMTBin5all,LowMjjMTBin6all,LowMjjMTBin7all,LowMjjMTBin8all
  UseMCstat: TRUE

Sample: "SigINTLOMGH7_MTBin5"
  Type: BACKGROUND
  Title: "W^{#pm}W^{#pm}jj" # "W^{#pm}W^{#pm}jj EW_{bin5}"
  FillColorRGB: 200,100,100
  LineColorRGB: 200,100,100
  HistoFile: "SigINTLOMGH7_MTBin5"
  Exclude: SRMTBin1all,SRMTBin2all,SRMTBin3all,SRMTBin4all,SRMTBin6all,SRMTBin7all,SRMTBin8all,LowMjjMTBin1all,LowMjjMTBin2all,LowMjjMTBin3all,LowMjjMTBin4all,LowMjjMTBin6all,LowMjjMTBin7all,LowMjjMTBin8all
  UseMCstat: TRUE

Sample: "SigINTLOMGH7_MTBin6"
  Type: BACKGROUND
  Title: "W^{#pm}W^{#pm}jj" # "W^{#pm}W^{#pm}jj EW_{bin6}"
  FillColorRGB: 200,100,100
  LineColorRGB: 200,100,100
  HistoFile: "SigINTLOMGH7_MTBin6"
  Exclude: SRMTBin1all,SRMTBin2all,SRMTBin3all,SRMTBin4all,SRMTBin5all,SRMTBin7all,SRMTBin8all,LowMjjMTBin1all,LowMjjMTBin2all,LowMjjMTBin3all,LowMjjMTBin4all,LowMjjMTBin5all,LowMjjMTBin7all,LowMjjMTBin8all
  UseMCstat: TRUE

Sample: "SigINTLOMGH7_MTBin7"
  Type: BACKGROUND
  Title: "W^{#pm}W^{#pm}jj" # "W^{#pm}W^{#pm}jj EW_{bin7}"
  FillColorRGB: 200,100,100
  LineColorRGB: 200,100,100
  HistoFile: "SigINTLOMGH7_MTBin7"
  Exclude: SRMTBin1all,SRMTBin2all,SRMTBin3all,SRMTBin4all,SRMTBin5all,SRMTBin6all,SRMTBin8all,LowMjjMTBin1all,LowMjjMTBin2all,LowMjjMTBin3all,LowMjjMTBin4all,LowMjjMTBin5all,LowMjjMTBin6all,LowMjjMTBin8all
  UseMCstat: TRUE

Sample: "SigINTLOMGH7_MTBin8"
  Type: BACKGROUND
  Title: "W^{#pm}W^{#pm}jj" # "W^{#pm}W^{#pm}jj EW_{bin8}"
  FillColorRGB: 200,100,100
  LineColorRGB: 200,100,100
  HistoFile: "SigINTLOMGH7_MTBin8"
  Exclude: SRMTBin1all,SRMTBin2all,SRMTBin3all,SRMTBin4all,SRMTBin5all,SRMTBin6all,SRMTBin7all,LowMjjMTBin1all,LowMjjMTBin2all,LowMjjMTBin3all,LowMjjMTBin4all,LowMjjMTBin5all,LowMjjMTBin6all,LowMjjMTBin7all
  UseMCstat: TRUE

### Backgrounds (list 2: other)

Sample: "WZEW"
  Type: BACKGROUND
  Title: "WZ" # "WZ EW"
  FillColorRGB: 250,180,90
  LineColorRGB: 250,180,90
  HistoFile: "WZ_EW"
  UseMCstat: TRUE

Sample: "WZQCD"
  Type: BACKGROUND
  Title: "WZ" # "WZ QCD"
  FillColorRGB: 250,180,90
  LineColorRGB: 250,180,90
  HistoFile: "WZ_QCD"
  UseMCstat: TRUE

Sample: "Wgamma"
  Type: BACKGROUND
  Title: "V#gamma"
  FillColorRGB: 50,150,35
  LineColorRGB: 50,150,35
  HistoFile: "Wgamma"
  UseMCstat: TRUE

Sample: "Zgamma"
  Type: BACKGROUND
  Title: "V#gamma"
  FillColorRGB: 50,150,35
  LineColorRGB: 50,150,35
  #FillColorRGB: 130,165,125
  #LineColorRGB: 130,165,125
  HistoFile: "Zgamma"
  UseMCstat: TRUE

Sample: "eFakes"
  Type: BACKGROUND
  Title: "Non-prompt"
  FillColorRGB: 110,25,75
  LineColorRGB: 110,25,75
  HistoFile: "eFakes"
  Exclude: CutCRWZall # Same exclusion condition
  UseMCstat: TRUE

Sample: "mFakes"
  Type: BACKGROUND
  Title: "Non-prompt"
  FillColorRGB: 110,25,75
  LineColorRGB: 110,25,75
  HistoFile: "mFakes"
  Exclude: CutCRWZall # Same exclusion condition
  UseMCstat: TRUE

Sample: "ChFlip"
  Type: BACKGROUND
  Title: "Chargeflip"
  FillColorRGB: 130,130,130
  LineColorRGB: 130,130,130
  HistoFile: "ChFlip"
  Exclude: CutCRWZall # Same exclusion condition
  UseMCstat: TRUE

Sample: "ZZ"
  Type: BACKGROUND
  #Title: "ZZ"
  Title: "Other prompt"
  FillColorRGB: 125,220,245
  LineColorRGB: 125,220,245
  HistoFile: "ZZ"
  UseMCstat: TRUE

#Sample: "WW"
#  Type: BACKGROUND
#  Title: "Other prompt"
#  FillColorRGB: 125,220,245
#  LineColorRGB: 125,220,245
#  Title: "WW"
#  FillColorRGB: 25,0,190
#  LineColorRGB: 25,0,190
#  HistoFile: "WW"
#  UseMCstat: TRUE

Sample: "Top"
  Type: BACKGROUND
  Title: "Other prompt"
  FillColorRGB: 125,220,245
  LineColorRGB: 125,220,245
  #Title: "Top"
  #FillColorRGB: 25,0,190
  #LineColorRGB: 25,0,190
  HistoFile: "Top"
  UseMCstat: TRUE

Sample: "Triboson"
  Type: BACKGROUND
  Title: "Other prompt"
  FillColorRGB: 125,220,245
  LineColorRGB: 125,220,245
  #Title: "Triboson"
  #FillColorRGB: 240,120,192
  #LineColorRGB: 240,120,192
  HistoFile: "Triboson"
  UseMCstat: TRUE

### GM model mass point (SIGNAL)

Sample: "SigH5pp_m900_MTBin1"
  Type: SIGNAL
  Title: "H^{#pm#pm}(900), s_{H}=0.25" # "H^{#pm#pm}(900)#rightarrowW^{#pm}W^{#pm}"
  FillColorRGB: 150,130,200
  LineColorRGB: 150,130,200
  HistoFile: "SigH5pp_m900_MTBin1"
  Exclude: CutCRWZall,SRMTBin2all,SRMTBin3all,SRMTBin4all,SRMTBin5all,SRMTBin6all,SRMTBin7all,SRMTBin8all,LowMjjMTBin2all,LowMjjMTBin3all,LowMjjMTBin4all,LowMjjMTBin5all,LowMjjMTBin6all,LowMjjMTBin7all,LowMjjMTBin8all
  UseMCstat: TRUE

Sample: "SigH5pp_m900_MTBin2"
  Type: SIGNAL
  Title: "H^{#pm#pm}(900), s_{H}=0.25" # "H^{#pm#pm}(900)#rightarrowW^{#pm}W^{#pm}"
  FillColorRGB: 150,130,200
  LineColorRGB: 150,130,200
  HistoFile: "SigH5pp_m900_MTBin2"
  Exclude: CutCRWZall,SRMTBin1all,SRMTBin3all,SRMTBin4all,SRMTBin5all,SRMTBin6all,SRMTBin7all,SRMTBin8all,LowMjjMTBin1all,LowMjjMTBin3all,LowMjjMTBin4all,LowMjjMTBin5all,LowMjjMTBin6all,LowMjjMTBin7all,LowMjjMTBin8all
  UseMCstat: TRUE

Sample: "SigH5pp_m900_MTBin3"
  Type: SIGNAL
  Title: "H^{#pm#pm}(900), s_{H}=0.25" # "H^{#pm#pm}(900)#rightarrowW^{#pm}W^{#pm}"
  FillColorRGB: 150,130,200
  LineColorRGB: 150,130,200
  HistoFile: "SigH5pp_m900_MTBin3"
  Exclude: CutCRWZall,SRMTBin1all,SRMTBin2all,SRMTBin4all,SRMTBin5all,SRMTBin6all,SRMTBin7all,SRMTBin8all,LowMjjMTBin1all,LowMjjMTBin2all,LowMjjMTBin4all,LowMjjMTBin5all,LowMjjMTBin6all,LowMjjMTBin7all,LowMjjMTBin8all
  UseMCstat: TRUE

Sample: "SigH5pp_m900_MTBin4"
  Type: SIGNAL
  Title: "H^{#pm#pm}(900), s_{H}=0.25" # "H^{#pm#pm}(900)#rightarrowW^{#pm}W^{#pm}"
  FillColorRGB: 150,130,200
  LineColorRGB: 150,130,200
  HistoFile: "SigH5pp_m900_MTBin4"
  Exclude: CutCRWZall,SRMTBin1all,SRMTBin2all,SRMTBin3all,SRMTBin5all,SRMTBin6all,SRMTBin7all,SRMTBin8all,LowMjjMTBin1all,LowMjjMTBin2all,LowMjjMTBin3all,LowMjjMTBin5all,LowMjjMTBin6all,LowMjjMTBin7all,LowMjjMTBin8all
  UseMCstat: TRUE

Sample: "SigH5pp_m900_MTBin5"
  Type: SIGNAL
  Title: "H^{#pm#pm}(900), s_{H}=0.25" # "H^{#pm#pm}(900)#rightarrowW^{#pm}W^{#pm}"
  FillColorRGB: 150,130,200
  LineColorRGB: 150,130,200
  HistoFile: "SigH5pp_m900_MTBin5"
  Exclude: CutCRWZall,SRMTBin1all,SRMTBin2all,SRMTBin3all,SRMTBin4all,SRMTBin6all,SRMTBin7all,SRMTBin8all,LowMjjMTBin1all,LowMjjMTBin2all,LowMjjMTBin3all,LowMjjMTBin4all,LowMjjMTBin6all,LowMjjMTBin7all,LowMjjMTBin8all
  UseMCstat: TRUE

Sample: "SigH5pp_m900_MTBin6"
  Type: SIGNAL
  Title: "H^{#pm#pm}(900), s_{H}=0.25" # "H^{#pm#pm}(900)#rightarrowW^{#pm}W^{#pm}"
  FillColorRGB: 150,130,200
  LineColorRGB: 150,130,200
  HistoFile: "SigH5pp_m900_MTBin6"
  Exclude: CutCRWZall,SRMTBin1all,SRMTBin2all,SRMTBin3all,SRMTBin4all,SRMTBin5all,SRMTBin7all,SRMTBin8all,LowMjjMTBin1all,LowMjjMTBin2all,LowMjjMTBin3all,LowMjjMTBin4all,LowMjjMTBin5all,LowMjjMTBin7all,LowMjjMTBin8all
  UseMCstat: TRUE

Sample: "SigH5pp_m900_MTBin7"
  Type: SIGNAL
  Title: "H^{#pm#pm}(900), s_{H}=0.25" # "H^{#pm#pm}(900)#rightarrowW^{#pm}W^{#pm}"
  FillColorRGB: 150,130,200
  LineColorRGB: 150,130,200
  HistoFile: "SigH5pp_m900_MTBin7"
  Exclude: CutCRWZall,SRMTBin1all,SRMTBin2all,SRMTBin3all,SRMTBin4all,SRMTBin5all,SRMTBin6all,SRMTBin8all,LowMjjMTBin1all,LowMjjMTBin2all,LowMjjMTBin3all,LowMjjMTBin4all,LowMjjMTBin5all,LowMjjMTBin6all,LowMjjMTBin8all
  UseMCstat: TRUE

Sample: "SigH5pp_m900_MTBin8"
  Type: SIGNAL
  Title: "H^{#pm#pm}(900), s_{H}=0.25" # "H^{#pm#pm}(900)#rightarrowW^{#pm}W^{#pm}"
  FillColorRGB: 150,130,200
  LineColorRGB: 150,130,200
  HistoFile: "SigH5pp_m900_MTBin8"
  Exclude: CutCRWZall,SRMTBin1all,SRMTBin2all,SRMTBin3all,SRMTBin4all,SRMTBin5all,SRMTBin6all,SRMTBin7all,LowMjjMTBin1all,LowMjjMTBin2all,LowMjjMTBin3all,LowMjjMTBin4all,LowMjjMTBin5all,LowMjjMTBin6all,LowMjjMTBin7all
  UseMCstat: TRUE

#
# 6 - NORMALISATION FACTORS
#

### For the non-ssWW backgrounds

#NormFactor: "mu_Vg"
#  Title: "#it{#mu}(#it{Vg})"
#  Nominal: 1.77
#  Min: 0
#  Max: 100
#  Samples: Wgamma,Zgamma
#  Constant: TRUE

NormFactor: "mu_WZ"
  Title: "#it{#mu}(#it{WZ-QCD})"
  Nominal: 1
  Min: 0
  Max: 100
  Samples: WZQCD

### For the ssWW backgrounds

NormFactor: "EWSigXsecOverSM"
  Title: "#it{#mu}(#it{W^{#pm}W^{#pm}-EW})"
  Nominal: 1
  Min: 0
  Max: 5
  Samples: SigEWLOMGH7_MTBin1,SigEWLOMGH7_MTBin2,SigEWLOMGH7_MTBin3,SigEWLOMGH7_MTBin4,SigEWLOMGH7_MTBin5,SigEWLOMGH7_MTBin6,SigEWLOMGH7_MTBin7,SigEWLOMGH7_MTBin8

NormFactor: "sqrtEWSigXsecOverSM"
  Title: "#sqrt{it{#mu}(#it{W^{#pm}W^{#pm}-EW})}"
  Nominal: 1
  Min: 0
  Max: 5
  Expression: sqrt(EWSigXsecOverSM):EWSigXsecOverSM[1,0,5]
  Samples: SigINTLOMGH7_MTBin1,SigINTLOMGH7_MTBin2,SigINTLOMGH7_MTBin3,SigINTLOMGH7_MTBin4,SigINTLOMGH7_MTBin5,SigINTLOMGH7_MTBin6,SigINTLOMGH7_MTBin7,SigINTLOMGH7_MTBin8

### For the H5PP signal

NormFactor: "H5PPSigXsecOverSM"
  Title: "#it{#mu}(#it{H^{#pm#pm}})"
  Nominal: 1
  Min: 0
  Max: 5
  Samples: SigH5pp_m900_MTBin1,SigH5pp_m900_MTBin2,SigH5pp_m900_MTBin3,SigH5pp_m900_MTBin4,SigH5pp_m900_MTBin5,SigH5pp_m900_MTBin6,SigH5pp_m900_MTBin7,SigH5pp_m900_MTBin8

#
# 7 - SYSTEMATICS
#

### Shape only:

### Normalization only: luminosity and other sources

# WIP: do not propagate uncertainty for Fakes and ChFlip?
Systematic: "LUMI"
  Title: "Lumi"
  Type: OVERALL
  OverallUp:    0.017
  OverallDown: -0.017
  Samples: WZEW,WZQCD,SigQCDLOMGH7,ZZ,Wgamma,Zgamma,Top,Triboson,SigEWLOMGH7_MTBin1,SigEWLOMGH7_MTBin2,SigEWLOMGH7_MTBin3,SigEWLOMGH7_MTBin4,SigEWLOMGH7_MTBin5,SigEWLOMGH7_MTBin6,SigEWLOMGH7_MTBin7,SigEWLOMGH7_MTBin8,SigINTLOMGH7_MTBin1,SigINTLOMGH7_MTBin2,SigINTLOMGH7_MTBin3,SigINTLOMGH7_MTBin4,SigINTLOMGH7_MTBin5,SigINTLOMGH7_MTBin6,SigINTLOMGH7_MTBin7,SigINTLOMGH7_MTBin8,SigH5pp_m900_MTBin1,SigH5pp_m900_MTBin2,SigH5pp_m900_MTBin3,SigH5pp_m900_MTBin4,SigH5pp_m900_MTBin5,SigH5pp_m900_MTBin6,SigH5pp_m900_MTBin7,SigH5pp_m900_MTBin8
  Category: Instrumental
  SubCategory: "Lumi"

Systematic: "ZZXsec"
  Title: "Flat ZZ x-section"
  Type: OVERALL
  OverallUp: 0.2
  OverallDown: -0.2
  Samples: ZZ
  Regions: SRMTBin1all,SRMTBin2all,SRMTBin3all,SRMTBin4all,SRMTBin5all,SRMTBin6all,SRMTBin7all,SRMTBin8all,LowMjjMTBin1all,LowMjjMTBin2all,LowMjjMTBin3all,LowMjjMTBin4all,LowMjjMTBin5all,LowMjjMTBin6all,LowMjjMTBin7all,LowMjjMTBin8all,LowMjjall,LowMjjallMT,SRall,SRallMT,CutCRWZall
  Category: Theory
  SubCategory: "Other"

Systematic: "TopXsec"
  Title: "Flat Top x-section"
  Type: OVERALL
  OverallUp: 0.3
  OverallDown: -0.3
  Samples: Top
  Regions: SRMTBin1all,SRMTBin2all,SRMTBin3all,SRMTBin4all,SRMTBin5all,SRMTBin6all,SRMTBin7all,SRMTBin8all,LowMjjMTBin1all,LowMjjMTBin2all,LowMjjMTBin3all,LowMjjMTBin4all,LowMjjMTBin5all,LowMjjMTBin6all,LowMjjMTBin7all,LowMjjMTBin8all,LowMjjall,LowMjjallMT,SRall,SRallMT,CutCRWZall
  Category: Theory
  SubCategory: "Other"

Systematic: "VphotonXsec"
  Title: "Flat V+photon x-section"
  Type: OVERALL
  OverallUp: 0.4
  OverallDown: -0.4
  Samples: Zgamma,Wgamma
  Regions: SRMTBin1all,SRMTBin2all,SRMTBin3all,SRMTBin4all,SRMTBin5all,SRMTBin6all,SRMTBin7all,SRMTBin8all,LowMjjMTBin1all,LowMjjMTBin2all,LowMjjMTBin3all,LowMjjMTBin4all,LowMjjMTBin5all,LowMjjMTBin6all,LowMjjMTBin7all,LowMjjMTBin8all,LowMjjall,LowMjjallMT,SRall,SRallMT,CutCRWZall
  Category: Theory
  SubCategory: "Other"

### Weight systematics: experimental + Mjj Rew. + charge flip + fakes systematics

# EGAMMA

Systematic: "EG_SCALE_ALL"
  Title: "EG_SCALE_ALL"
  Type: HISTO
  HistoNameSufUp: "EG_SCALE_ALL__1up"
  HistoNameSufDown: "EG_SCALE_ALL__1down"
  Samples: WZEW,WZQCD,SigQCDLOMGH7,ZZ,Wgamma,Zgamma,Top,Triboson,SigEWLOMGH7_MTBin1,SigEWLOMGH7_MTBin2,SigEWLOMGH7_MTBin3,SigEWLOMGH7_MTBin4,SigEWLOMGH7_MTBin5,SigEWLOMGH7_MTBin6,SigEWLOMGH7_MTBin7,SigEWLOMGH7_MTBin8,SigINTLOMGH7_MTBin1,SigINTLOMGH7_MTBin2,SigINTLOMGH7_MTBin3,SigINTLOMGH7_MTBin4,SigINTLOMGH7_MTBin5,SigINTLOMGH7_MTBin6,SigINTLOMGH7_MTBin7,SigINTLOMGH7_MTBin8,SigH5pp_m900_MTBin1,SigH5pp_m900_MTBin2,SigH5pp_m900_MTBin3,SigH5pp_m900_MTBin4,SigH5pp_m900_MTBin5,SigH5pp_m900_MTBin6,SigH5pp_m900_MTBin7,SigH5pp_m900_MTBin8
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Egamma
  ExcludeRegionSample: LowMjjMTBin1all:SigH5pp_m900_MTBin1,LowMjjall:SigH5pp_m900_MTBin1,LowMjjallMT:SigH5pp_m900_MTBin1,SRMTBin1all:SigH5pp_m900_MTBin1,SRall:SigH5pp_m900_MTBin1,SRallMT:SigH5pp_m900_MTBin1

# B-tagging

Systematic: "FT_EFF_Eigen_Light_0"
  Title: "FT_EFF_Eigen_Light_0"
  Type: HISTO
  HistoNameSufUp: "FT_EFF_Eigen_Light_0__1up"
  HistoNameSufDown: "FT_EFF_Eigen_Light_0__1down"
  Samples: WZEW,WZQCD,SigQCDLOMGH7,ZZ,Wgamma,Zgamma,Top,Triboson,SigEWLOMGH7_MTBin1,SigEWLOMGH7_MTBin2,SigEWLOMGH7_MTBin3,SigEWLOMGH7_MTBin4,SigEWLOMGH7_MTBin5,SigEWLOMGH7_MTBin6,SigEWLOMGH7_MTBin7,SigEWLOMGH7_MTBin8,SigINTLOMGH7_MTBin1,SigINTLOMGH7_MTBin2,SigINTLOMGH7_MTBin3,SigINTLOMGH7_MTBin4,SigINTLOMGH7_MTBin5,SigINTLOMGH7_MTBin6,SigINTLOMGH7_MTBin7,SigINTLOMGH7_MTBin8,SigH5pp_m900_MTBin1,SigH5pp_m900_MTBin2,SigH5pp_m900_MTBin3,SigH5pp_m900_MTBin4,SigH5pp_m900_MTBin5,SigH5pp_m900_MTBin6,SigH5pp_m900_MTBin7,SigH5pp_m900_MTBin8
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: b-tagging
  ExcludeRegionSample: LowMjjMTBin1all:SigH5pp_m900_MTBin1,LowMjjall:SigH5pp_m900_MTBin1,LowMjjallMT:SigH5pp_m900_MTBin1,SRMTBin1all:SigH5pp_m900_MTBin1,SRall:SigH5pp_m900_MTBin1,SRallMT:SigH5pp_m900_MTBin1

# JES uncertainties

# WARNING: this was removed due to huge anticorrelations
Systematic: "JET_EffectiveNP_Modelling1"
  Title: "JET_EffectiveNP_Modelling1"
  Type: HISTO
  HistoNameSufUp: "JET_EffectiveNP_Modelling1__1up"
  HistoNameSufDown: "JET_EffectiveNP_Modelling1__1down"
  Samples: WZEW,WZQCD,SigQCDLOMGH7,ZZ,Wgamma,Zgamma,Top,Triboson,SigEWLOMGH7_MTBin1,SigEWLOMGH7_MTBin2,SigEWLOMGH7_MTBin3,SigEWLOMGH7_MTBin4,SigEWLOMGH7_MTBin5,SigEWLOMGH7_MTBin6,SigEWLOMGH7_MTBin7,SigEWLOMGH7_MTBin8,SigINTLOMGH7_MTBin1,SigINTLOMGH7_MTBin2,SigINTLOMGH7_MTBin3,SigINTLOMGH7_MTBin4,SigINTLOMGH7_MTBin5,SigINTLOMGH7_MTBin6,SigINTLOMGH7_MTBin7,SigINTLOMGH7_MTBin8,SigH5pp_m900_MTBin1,SigH5pp_m900_MTBin2,SigH5pp_m900_MTBin3,SigH5pp_m900_MTBin4,SigH5pp_m900_MTBin5,SigH5pp_m900_MTBin6,SigH5pp_m900_MTBin7,SigH5pp_m900_MTBin8
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Jets
  ExcludeRegionSample: LowMjjMTBin1all:SigH5pp_m900_MTBin1,LowMjjall:SigH5pp_m900_MTBin1,LowMjjallMT:SigH5pp_m900_MTBin1,SRMTBin1all:SigH5pp_m900_MTBin1,SRall:SigH5pp_m900_MTBin1,SRallMT:SigH5pp_m900_MTBin1

Systematic: "JET_EtaIntercalibration_Modelling"
  Title: "JET_EtaIntercalibration_Modelling"
  Type: HISTO
  HistoNameSufUp: "JET_EtaIntercalibration_Modelling__1up"
  HistoNameSufDown: "JET_EtaIntercalibration_Modelling__1down"
  Samples: WZEW,WZQCD,SigQCDLOMGH7,ZZ,Wgamma,Zgamma,Top,Triboson,SigEWLOMGH7_MTBin1,SigEWLOMGH7_MTBin2,SigEWLOMGH7_MTBin3,SigEWLOMGH7_MTBin4,SigEWLOMGH7_MTBin5,SigEWLOMGH7_MTBin6,SigEWLOMGH7_MTBin7,SigEWLOMGH7_MTBin8,SigINTLOMGH7_MTBin1,SigINTLOMGH7_MTBin2,SigINTLOMGH7_MTBin3,SigINTLOMGH7_MTBin4,SigINTLOMGH7_MTBin5,SigINTLOMGH7_MTBin6,SigINTLOMGH7_MTBin7,SigINTLOMGH7_MTBin8,SigH5pp_m900_MTBin1,SigH5pp_m900_MTBin2,SigH5pp_m900_MTBin3,SigH5pp_m900_MTBin4,SigH5pp_m900_MTBin5,SigH5pp_m900_MTBin6,SigH5pp_m900_MTBin7,SigH5pp_m900_MTBin8
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Jets
  ExcludeRegionSample: LowMjjMTBin1all:SigH5pp_m900_MTBin1,LowMjjall:SigH5pp_m900_MTBin1,LowMjjallMT:SigH5pp_m900_MTBin1,SRMTBin1all:SigH5pp_m900_MTBin1,SRall:SigH5pp_m900_MTBin1,SRallMT:SigH5pp_m900_MTBin1

# WARNING: this was removed due to huge anticorrelations
Systematic: "JET_Flavor_Composition"
  Title: "JET_Flavor_Composition"
  Type: HISTO
  HistoNameSufUp: "JET_Flavor_Composition__1up"
  HistoNameSufDown: "JET_Flavor_Composition__1down"
  Samples: WZEW,WZQCD,SigQCDLOMGH7,ZZ,Wgamma,Zgamma,Top,Triboson,SigEWLOMGH7_MTBin1,SigEWLOMGH7_MTBin2,SigEWLOMGH7_MTBin3,SigEWLOMGH7_MTBin4,SigEWLOMGH7_MTBin5,SigEWLOMGH7_MTBin6,SigEWLOMGH7_MTBin7,SigEWLOMGH7_MTBin8,SigINTLOMGH7_MTBin1,SigINTLOMGH7_MTBin2,SigINTLOMGH7_MTBin3,SigINTLOMGH7_MTBin4,SigINTLOMGH7_MTBin5,SigINTLOMGH7_MTBin6,SigINTLOMGH7_MTBin7,SigINTLOMGH7_MTBin8,SigH5pp_m900_MTBin1,SigH5pp_m900_MTBin2,SigH5pp_m900_MTBin3,SigH5pp_m900_MTBin4,SigH5pp_m900_MTBin5,SigH5pp_m900_MTBin6,SigH5pp_m900_MTBin7,SigH5pp_m900_MTBin8
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Jets
  ExcludeRegionSample: LowMjjMTBin1all:SigH5pp_m900_MTBin1,LowMjjall:SigH5pp_m900_MTBin1,LowMjjallMT:SigH5pp_m900_MTBin1,SRMTBin1all:SigH5pp_m900_MTBin1,SRall:SigH5pp_m900_MTBin1,SRallMT:SigH5pp_m900_MTBin1

Systematic: "JET_Flavor_Response"
  Title: "JET_Flavor_Response"
  Type: HISTO
  HistoNameSufUp: "JET_Flavor_Response__1up"
  HistoNameSufDown: "JET_Flavor_Response__1down"
  Samples: WZEW,WZQCD,SigQCDLOMGH7,ZZ,Wgamma,Zgamma,Top,Triboson,SigEWLOMGH7_MTBin1,SigEWLOMGH7_MTBin2,SigEWLOMGH7_MTBin3,SigEWLOMGH7_MTBin4,SigEWLOMGH7_MTBin5,SigEWLOMGH7_MTBin6,SigEWLOMGH7_MTBin7,SigEWLOMGH7_MTBin8,SigINTLOMGH7_MTBin1,SigINTLOMGH7_MTBin2,SigINTLOMGH7_MTBin3,SigINTLOMGH7_MTBin4,SigINTLOMGH7_MTBin5,SigINTLOMGH7_MTBin6,SigINTLOMGH7_MTBin7,SigINTLOMGH7_MTBin8,SigH5pp_m900_MTBin1,SigH5pp_m900_MTBin2,SigH5pp_m900_MTBin3,SigH5pp_m900_MTBin4,SigH5pp_m900_MTBin5,SigH5pp_m900_MTBin6,SigH5pp_m900_MTBin7,SigH5pp_m900_MTBin8
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Jets
  ExcludeRegionSample: LowMjjMTBin1all:SigH5pp_m900_MTBin1,LowMjjall:SigH5pp_m900_MTBin1,LowMjjallMT:SigH5pp_m900_MTBin1,SRMTBin1all:SigH5pp_m900_MTBin1,SRall:SigH5pp_m900_MTBin1,SRallMT:SigH5pp_m900_MTBin1

Systematic: "JET_Pileup_OffsetMu"
  Title: "JET_Pileup_OffsetMu"
  Type: HISTO
  HistoNameSufUp: "JET_Pileup_OffsetMu__1up"
  HistoNameSufDown: "JET_Pileup_OffsetMu__1down"
  Samples: WZEW,WZQCD,SigQCDLOMGH7,ZZ,Wgamma,Zgamma,Top,Triboson,SigEWLOMGH7_MTBin1,SigEWLOMGH7_MTBin2,SigEWLOMGH7_MTBin3,SigEWLOMGH7_MTBin4,SigEWLOMGH7_MTBin5,SigEWLOMGH7_MTBin6,SigEWLOMGH7_MTBin7,SigEWLOMGH7_MTBin8,SigINTLOMGH7_MTBin1,SigINTLOMGH7_MTBin2,SigINTLOMGH7_MTBin3,SigINTLOMGH7_MTBin4,SigINTLOMGH7_MTBin5,SigINTLOMGH7_MTBin6,SigINTLOMGH7_MTBin7,SigINTLOMGH7_MTBin8,SigH5pp_m900_MTBin1,SigH5pp_m900_MTBin2,SigH5pp_m900_MTBin3,SigH5pp_m900_MTBin4,SigH5pp_m900_MTBin5,SigH5pp_m900_MTBin6,SigH5pp_m900_MTBin7,SigH5pp_m900_MTBin8
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Jets
  ExcludeRegionSample: LowMjjMTBin1all:SigH5pp_m900_MTBin1,LowMjjall:SigH5pp_m900_MTBin1,LowMjjallMT:SigH5pp_m900_MTBin1,SRMTBin1all:SigH5pp_m900_MTBin1,SRall:SigH5pp_m900_MTBin1,SRallMT:SigH5pp_m900_MTBin1

Systematic: "JET_Pileup_OffsetNPV"
  Title: "JET_Pileup_OffsetNPV"
  Type: HISTO
  HistoNameSufUp: "JET_Pileup_OffsetNPV__1up"
  HistoNameSufDown: "JET_Pileup_OffsetNPV__1down"
  Samples: WZEW,WZQCD,SigQCDLOMGH7,ZZ,Wgamma,Zgamma,Top,Triboson,SigEWLOMGH7_MTBin1,SigEWLOMGH7_MTBin2,SigEWLOMGH7_MTBin3,SigEWLOMGH7_MTBin4,SigEWLOMGH7_MTBin5,SigEWLOMGH7_MTBin6,SigEWLOMGH7_MTBin7,SigEWLOMGH7_MTBin8,SigINTLOMGH7_MTBin1,SigINTLOMGH7_MTBin2,SigINTLOMGH7_MTBin3,SigINTLOMGH7_MTBin4,SigINTLOMGH7_MTBin5,SigINTLOMGH7_MTBin6,SigINTLOMGH7_MTBin7,SigINTLOMGH7_MTBin8,SigH5pp_m900_MTBin1,SigH5pp_m900_MTBin2,SigH5pp_m900_MTBin3,SigH5pp_m900_MTBin4,SigH5pp_m900_MTBin5,SigH5pp_m900_MTBin6,SigH5pp_m900_MTBin7,SigH5pp_m900_MTBin8
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Jets
  ExcludeRegionSample: LowMjjMTBin1all:SigH5pp_m900_MTBin1,LowMjjall:SigH5pp_m900_MTBin1,LowMjjallMT:SigH5pp_m900_MTBin1,SRMTBin1all:SigH5pp_m900_MTBin1,SRall:SigH5pp_m900_MTBin1,SRallMT:SigH5pp_m900_MTBin1

# WARNING: this was removed due to huge anticorrelations
Systematic: "JET_Pileup_RhoTopology"
  Title: "JET_Pileup_RhoTopology"
  Type: HISTO
  HistoNameSufUp: "JET_Pileup_RhoTopology__1up"
  HistoNameSufDown: "JET_Pileup_RhoTopology__1down"
  Samples: WZEW,WZQCD,SigQCDLOMGH7,ZZ,Wgamma,Zgamma,Top,Triboson,SigEWLOMGH7_MTBin1,SigEWLOMGH7_MTBin2,SigEWLOMGH7_MTBin3,SigEWLOMGH7_MTBin4,SigEWLOMGH7_MTBin5,SigEWLOMGH7_MTBin6,SigEWLOMGH7_MTBin7,SigEWLOMGH7_MTBin8,SigINTLOMGH7_MTBin1,SigINTLOMGH7_MTBin2,SigINTLOMGH7_MTBin3,SigINTLOMGH7_MTBin4,SigINTLOMGH7_MTBin5,SigINTLOMGH7_MTBin6,SigINTLOMGH7_MTBin7,SigINTLOMGH7_MTBin8,SigH5pp_m900_MTBin1,SigH5pp_m900_MTBin2,SigH5pp_m900_MTBin3,SigH5pp_m900_MTBin4,SigH5pp_m900_MTBin5,SigH5pp_m900_MTBin6,SigH5pp_m900_MTBin7,SigH5pp_m900_MTBin8
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Jets
  ExcludeRegionSample: LowMjjMTBin1all:SigH5pp_m900_MTBin1,LowMjjall:SigH5pp_m900_MTBin1,LowMjjallMT:SigH5pp_m900_MTBin1,SRMTBin1all:SigH5pp_m900_MTBin1,SRall:SigH5pp_m900_MTBin1,SRallMT:SigH5pp_m900_MTBin1

# JER uncertainties

# MET

Systematic: "MET_SoftTrk_ResoPara"
  Title: "MET_SoftTrk_ResoPara"
  Type: HISTO
  HistoNameSufUp: "MET_SoftTrk_ResoPara"
  Samples: WZEW,WZQCD,SigQCDLOMGH7,ZZ,Wgamma,Zgamma,Top,Triboson,SigEWLOMGH7_MTBin1,SigEWLOMGH7_MTBin2,SigEWLOMGH7_MTBin3,SigEWLOMGH7_MTBin4,SigEWLOMGH7_MTBin5,SigEWLOMGH7_MTBin6,SigEWLOMGH7_MTBin7,SigEWLOMGH7_MTBin8,SigINTLOMGH7_MTBin1,SigINTLOMGH7_MTBin2,SigINTLOMGH7_MTBin3,SigINTLOMGH7_MTBin4,SigINTLOMGH7_MTBin5,SigINTLOMGH7_MTBin6,SigINTLOMGH7_MTBin7,SigINTLOMGH7_MTBin8,SigH5pp_m900_MTBin1,SigH5pp_m900_MTBin2,SigH5pp_m900_MTBin3,SigH5pp_m900_MTBin4,SigH5pp_m900_MTBin5,SigH5pp_m900_MTBin6,SigH5pp_m900_MTBin7,SigH5pp_m900_MTBin8
  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Instrumental
  SubCategory: MET
  ExcludeRegionSample: LowMjjMTBin1all:SigH5pp_m900_MTBin1,LowMjjall:SigH5pp_m900_MTBin1,LowMjjallMT:SigH5pp_m900_MTBin1,SRMTBin1all:SigH5pp_m900_MTBin1,SRall:SigH5pp_m900_MTBin1,SRallMT:SigH5pp_m900_MTBin1

Systematic: "MET_SoftTrk_ResoPerp"
  Title: "MET_SoftTrk_ResoPerp"
  Type: HISTO
  HistoNameSufUp: "MET_SoftTrk_ResoPerp"
  Samples: WZEW,WZQCD,SigQCDLOMGH7,ZZ,Wgamma,Zgamma,Top,Triboson,SigEWLOMGH7_MTBin1,SigEWLOMGH7_MTBin2,SigEWLOMGH7_MTBin3,SigEWLOMGH7_MTBin4,SigEWLOMGH7_MTBin5,SigEWLOMGH7_MTBin6,SigEWLOMGH7_MTBin7,SigEWLOMGH7_MTBin8,SigINTLOMGH7_MTBin1,SigINTLOMGH7_MTBin2,SigINTLOMGH7_MTBin3,SigINTLOMGH7_MTBin4,SigINTLOMGH7_MTBin5,SigINTLOMGH7_MTBin6,SigINTLOMGH7_MTBin7,SigINTLOMGH7_MTBin8,SigH5pp_m900_MTBin1,SigH5pp_m900_MTBin2,SigH5pp_m900_MTBin3,SigH5pp_m900_MTBin4,SigH5pp_m900_MTBin5,SigH5pp_m900_MTBin6,SigH5pp_m900_MTBin7,SigH5pp_m900_MTBin8
  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Instrumental
  SubCategory: MET
  ExcludeRegionSample: LowMjjMTBin1all:SigH5pp_m900_MTBin1,LowMjjall:SigH5pp_m900_MTBin1,LowMjjallMT:SigH5pp_m900_MTBin1,SRMTBin1all:SigH5pp_m900_MTBin1,SRall:SigH5pp_m900_MTBin1,SRallMT:SigH5pp_m900_MTBin1

Systematic: "MET_SoftTrk_Scale"
  Title: "MET_SoftTrk_Scale"
  Type: HISTO
  HistoNameSufUp: "MET_SoftTrk_ScaleUp"
  HistoNameSufDown: "MET_SoftTrk_ScaleDown"
  Samples: WZEW,WZQCD,SigQCDLOMGH7,ZZ,Wgamma,Zgamma,Top,Triboson,SigEWLOMGH7_MTBin1,SigEWLOMGH7_MTBin2,SigEWLOMGH7_MTBin3,SigEWLOMGH7_MTBin4,SigEWLOMGH7_MTBin5,SigEWLOMGH7_MTBin6,SigEWLOMGH7_MTBin7,SigEWLOMGH7_MTBin8,SigINTLOMGH7_MTBin1,SigINTLOMGH7_MTBin2,SigINTLOMGH7_MTBin3,SigINTLOMGH7_MTBin4,SigINTLOMGH7_MTBin5,SigINTLOMGH7_MTBin6,SigINTLOMGH7_MTBin7,SigINTLOMGH7_MTBin8,SigH5pp_m900_MTBin1,SigH5pp_m900_MTBin2,SigH5pp_m900_MTBin3,SigH5pp_m900_MTBin4,SigH5pp_m900_MTBin5,SigH5pp_m900_MTBin6,SigH5pp_m900_MTBin7,SigH5pp_m900_MTBin8
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: MET
  ExcludeRegionSample: LowMjjMTBin1all:SigH5pp_m900_MTBin1,LowMjjall:SigH5pp_m900_MTBin1,LowMjjallMT:SigH5pp_m900_MTBin1,SRMTBin1all:SigH5pp_m900_MTBin1,SRall:SigH5pp_m900_MTBin1,SRallMT:SigH5pp_m900_MTBin1

# Muons

Systematic: "MUON_MS"
  Title: "MUON_MS"
  Type: HISTO
  HistoNameSufUp: "MUON_MS__1up"
  HistoNameSufDown: "MUON_MS__1down"
  Samples: WZEW,WZQCD,SigQCDLOMGH7,ZZ,Wgamma,Zgamma,Top,Triboson,SigEWLOMGH7_MTBin1,SigEWLOMGH7_MTBin2,SigEWLOMGH7_MTBin3,SigEWLOMGH7_MTBin4,SigEWLOMGH7_MTBin5,SigEWLOMGH7_MTBin6,SigEWLOMGH7_MTBin7,SigEWLOMGH7_MTBin8,SigINTLOMGH7_MTBin1,SigINTLOMGH7_MTBin2,SigINTLOMGH7_MTBin3,SigINTLOMGH7_MTBin4,SigINTLOMGH7_MTBin5,SigINTLOMGH7_MTBin6,SigINTLOMGH7_MTBin7,SigINTLOMGH7_MTBin8,SigH5pp_m900_MTBin1,SigH5pp_m900_MTBin2,SigH5pp_m900_MTBin3,SigH5pp_m900_MTBin4,SigH5pp_m900_MTBin5,SigH5pp_m900_MTBin6,SigH5pp_m900_MTBin7,SigH5pp_m900_MTBin8
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Muons
  ExcludeRegionSample: LowMjjMTBin1all:SigH5pp_m900_MTBin1,LowMjjall:SigH5pp_m900_MTBin1,LowMjjallMT:SigH5pp_m900_MTBin1,SRMTBin1all:SigH5pp_m900_MTBin1,SRall:SigH5pp_m900_MTBin1,SRallMT:SigH5pp_m900_MTBin1

# PRW

Systematic: "PRW_DATASF"
  Title: "PRW_DATASF"
  Type: HISTO
  HistoNameSufUp: "PRW_DATASF__1up"
  HistoNameSufDown: "PRW_DATASF__1down"
  Samples: WZEW,WZQCD,SigQCDLOMGH7,ZZ,Wgamma,Zgamma,Top,Triboson,SigEWLOMGH7_MTBin1,SigEWLOMGH7_MTBin2,SigEWLOMGH7_MTBin3,SigEWLOMGH7_MTBin4,SigEWLOMGH7_MTBin5,SigEWLOMGH7_MTBin6,SigEWLOMGH7_MTBin7,SigEWLOMGH7_MTBin8,SigINTLOMGH7_MTBin1,SigINTLOMGH7_MTBin2,SigINTLOMGH7_MTBin3,SigINTLOMGH7_MTBin4,SigINTLOMGH7_MTBin5,SigINTLOMGH7_MTBin6,SigINTLOMGH7_MTBin7,SigINTLOMGH7_MTBin8,SigH5pp_m900_MTBin1,SigH5pp_m900_MTBin2,SigH5pp_m900_MTBin3,SigH5pp_m900_MTBin4,SigH5pp_m900_MTBin5,SigH5pp_m900_MTBin6,SigH5pp_m900_MTBin7,SigH5pp_m900_MTBin8
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Pile-up
  ExcludeRegionSample: LowMjjMTBin1all:SigH5pp_m900_MTBin1,LowMjjall:SigH5pp_m900_MTBin1,LowMjjallMT:SigH5pp_m900_MTBin1,SRMTBin1all:SigH5pp_m900_MTBin1,SRall:SigH5pp_m900_MTBin1,SRallMT:SigH5pp_m900_MTBin1

# Non-prompt

Systematic: "mu_FF_MET"
  Title: "mu_FF_MET"
  Type: HISTO
  HistoNameSufUp: "mu_FF_MET__1up"
  HistoNameSufDown: "mu_FF_MET__1down"
  Samples: mFakes
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Non-prompt

Systematic: "el_FF_MET"
  Title: "el_FF_MET"
  Type: HISTO
  HistoNameSufUp: "el_FF_MET__1up"
  HistoNameSufDown: "el_FF_MET__1down"
  Samples: eFakes
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Non-prompt

Systematic: "mu_FF_Prompt"
  Title: "mu_FF_Prompt"
  Type: HISTO
  HistoNameSufUp: "FF_Prompt__1up"
  HistoNameSufDown: "FF_Prompt__1down"
  Samples: mFakes
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Non-prompt

Systematic: "el_FF_Prompt"
  Title: "el_FF_Prompt"
  Type: HISTO
  HistoNameSufUp: "FF_Prompt__1up"
  HistoNameSufDown: "FF_Prompt__1down"
  Samples: eFakes
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Non-prompt

Systematic: "mu_FF_STAT_2015_2018_1_1"
  Title: "mu_FF_STAT_2015_2018_1_1"
  Type: HISTO
  HistoNameSufUp: "mu_FF_STAT_2015_2018_1_1__1up"
  HistoNameSufDown: "mu_FF_STAT_2015_2018_1_1__1down"
  Samples: mFakes
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Non-prompt

Systematic: "mu_FF_STAT_2015_2018_2_1"
  Title: "mu_FF_STAT_2015_2018_2_1"
  Type: HISTO
  HistoNameSufUp: "mu_FF_STAT_2015_2018_2_1__1up"
  HistoNameSufDown: "mu_FF_STAT_2015_2018_2_1__1down"
  Samples: mFakes
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Non-prompt

Systematic: "mu_FF_STAT_2015_2018_3_1"
  Title: "mu_FF_STAT_2015_2018_3_1"
  Type: HISTO
  HistoNameSufUp: "mu_FF_STAT_2015_2018_3_1__1up"
  HistoNameSufDown: "mu_FF_STAT_2015_2018_3_1__1down"
  Samples: mFakes
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Non-prompt

Systematic: "mu_FF_STAT_2015_2_1"
  Title: "mu_FF_STAT_2015_2_1"
  Type: HISTO
  HistoNameSufUp: "mu_FF_STAT_2015_2_1__1up"
  HistoNameSufDown: "mu_FF_STAT_2015_2_1__1down"
  Samples: mFakes
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Non-prompt

Systematic: "mu_FF_STAT_2015_3_1"
  Title: "mu_FF_STAT_2015_3_1"
  Type: HISTO
  HistoNameSufUp: "mu_FF_STAT_2015_3_1__1up"
  HistoNameSufDown: "mu_FF_STAT_2015_3_1__1down"
  Samples: mFakes
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Non-prompt

Systematic: "mu_FF_STAT_2016_2018_3_1"
  Title: "mu_FF_STAT_2016_2018_3_1"
  Type: HISTO
  HistoNameSufUp: "mu_FF_STAT_2016_2018_3_1__1up"
  HistoNameSufDown: "mu_FF_STAT_2016_2018_3_1__1down"
  Samples: mFakes
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Non-prompt

Systematic: "el_FF_STAT_2015_2018_1_1"
  Title: "el_FF_STAT_2015_2018_1_1"
  Type: HISTO
  HistoNameSufUp: "el_FF_STAT_2015_2018_1_1__1up"
  HistoNameSufDown: "el_FF_STAT_2015_2018_1_1__1down"
  Samples: eFakes
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Non-prompt

Systematic: "el_FF_STAT_2015_2018_1_2"
  Title: "el_FF_STAT_2015_2018_1_2"
  Type: HISTO
  HistoNameSufUp: "el_FF_STAT_2015_2018_1_2__1up"
  HistoNameSufDown: "el_FF_STAT_2015_2018_1_2__1down"
  Samples: eFakes
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Non-prompt

Systematic: "el_FF_STAT_2015_2018_1_3"
  Title: "el_FF_STAT_2015_2018_1_3"
  Type: HISTO
  HistoNameSufUp: "el_FF_STAT_2015_2018_1_3__1up"
  HistoNameSufDown: "el_FF_STAT_2015_2018_1_3__1down"
  Samples: eFakes
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Non-prompt

Systematic: "el_FF_STAT_2015_2018_2_1"
  Title: "el_FF_STAT_2015_2018_2_1"
  Type: HISTO
  HistoNameSufUp: "el_FF_STAT_2015_2018_2_1__1up"
  HistoNameSufDown: "el_FF_STAT_2015_2018_2_1__1down"
  Samples: eFakes
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Non-prompt

Systematic: "el_FF_STAT_2015_2018_2_2"
  Title: "el_FF_STAT_2015_2018_2_2"
  Type: HISTO
  HistoNameSufUp: "el_FF_STAT_2015_2018_2_2__1up"
  HistoNameSufDown: "el_FF_STAT_2015_2018_2_2__1down"
  Samples: eFakes
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Non-prompt

Systematic: "el_FF_STAT_2015_2018_2_3"
  Title: "el_FF_STAT_2015_2018_2_3"
  Type: HISTO
  HistoNameSufUp: "el_FF_STAT_2015_2018_2_3__1up"
  HistoNameSufDown: "el_FF_STAT_2015_2018_2_3__1down"
  Samples: eFakes
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Non-prompt

Systematic: "el_FF_STAT_2015_2018_3_1"
  Title: "el_FF_STAT_2015_2018_3_1"
  Type: HISTO
  HistoNameSufUp: "el_FF_STAT_2015_2018_3_1__1up"
  HistoNameSufDown: "el_FF_STAT_2015_2018_3_1__1down"
  Samples: eFakes
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Non-prompt

Systematic: "el_FF_STAT_2015_2018_3_2"
  Title: "el_FF_STAT_2015_2018_3_2"
  Type: HISTO
  HistoNameSufUp: "el_FF_STAT_2015_2018_3_2__1up"
  HistoNameSufDown: "el_FF_STAT_2015_2018_3_2__1down"
  Samples: eFakes
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Non-prompt

Systematic: "el_FF_STAT_2015_2018_3_3"
  Title: "el_FF_STAT_2015_2018_3_3"
  Type: HISTO
  HistoNameSufUp: "el_FF_STAT_2015_2018_3_3__1up"
  HistoNameSufDown: "el_FF_STAT_2015_2018_3_3__1down"
  Samples: eFakes
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Non-prompt

Systematic: "el_FF_STAT_2015_3_1"
  Title: "el_FF_STAT_2015_3_1"
  Type: HISTO
  HistoNameSufUp: "el_FF_STAT_2015_3_1__1up"
  HistoNameSufDown: "el_FF_STAT_2015_3_1__1down"
  Samples: eFakes
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Non-prompt

Systematic: "el_FF_STAT_2015_3_2"
  Title: "el_FF_STAT_2015_3_2"
  Type: HISTO
  HistoNameSufUp: "el_FF_STAT_2015_3_2__1up"
  HistoNameSufDown: "el_FF_STAT_2015_3_2__1down"
  Samples: eFakes
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Non-prompt

Systematic: "el_FF_STAT_2015_3_3"
  Title: "el_FF_STAT_2015_3_3"
  Type: HISTO
  HistoNameSufUp: "el_FF_STAT_2015_3_3__1up"
  HistoNameSufDown: "el_FF_STAT_2015_3_3__1down"
  Samples: eFakes
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Non-prompt

Systematic: "el_FF_STAT_2016_2018_3_1"
  Title: "el_FF_STAT_2016_2018_3_1"
  Type: HISTO
  HistoNameSufUp: "el_FF_STAT_2016_2018_3_1__1up"
  HistoNameSufDown: "el_FF_STAT_2016_2018_3_1__1down"
  Samples: eFakes
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Non-prompt

Systematic: "el_FF_STAT_2016_2018_3_2"
  Title: "el_FF_STAT_2016_2018_3_2"
  Type: HISTO
  HistoNameSufUp: "el_FF_STAT_2016_2018_3_2__1up"
  HistoNameSufDown: "el_FF_STAT_2016_2018_3_2__1down"
  Samples: eFakes
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Non-prompt

Systematic: "el_FF_STAT_2016_2018_3_3"
  Title: "el_FF_STAT_2016_2018_3_3"
  Type: HISTO
  HistoNameSufUp: "el_FF_STAT_2016_2018_3_3__1up"
  HistoNameSufDown: "el_FF_STAT_2016_2018_3_3__1down"
  Samples: eFakes
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Non-prompt

# ChFlip

Systematic: "chFlipSF"
  Title: "chFlipSF"
  Type: HISTO
  HistoNameSufUp: "chFlipSF__1up"
  HistoNameSufDown: "chFlipSF__1down"
  Samples: ChFlip
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: ChargeFlip

# WZ-QCD theory uncertainties: WZMjjRew, PDFas and scales

Systematic: "MjjRewStat"
  Title: "MjjRewStat"
  Type: HISTO
  DropNorm: all
  HistoNameSufUp: "MjjRewStat__1up"
  HistoNameSufDown: "MjjRewStat__1down"
  Samples: WZQCD
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Theory
  SubCategory: WZ

Systematic: "MjjRewScale"
  Title: "MjjRewScale"
  Type: HISTO
  DropNorm: all
  HistoNameSufUp: "MjjRewScale__1up"
  HistoNameSufDown: "MjjRewScale__1down"
  Samples: WZQCD
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Theory
  SubCategory: WZ

Systematic: "MjjRewPDF"
  Title: "MjjRewPDF"
  Type: HISTO
  DropNorm: all
  HistoNameSufUp: "MjjRewPDF__1up"
  HistoNameSufDown: "MjjRewPDF__1down"
  Samples: WZQCD
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Theory
  SubCategory: WZ

Systematic: "WZQCD_PDFas"
  Title: "WZQCD_PDFas"
  Type: HISTO
  DropNorm: all
  HistoNameSufUp: "WZQCD_PDFas__1up"
  HistoNameSufDown: "WZQCD_PDFas__1down"
  Samples: WZQCD
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Theory
  SubCategory: WZ

Systematic: "WZQCD_scale"
  Title: "WZQCD_scale"
  Type: HISTO
  DropNorm: all
  HistoNameSufUp: "WZQCD_scale__1up"
  HistoNameSufDown: "WZQCD_scale__1down"
  Samples: WZQCD
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Theory
  SubCategory: WZ

# ssWW EW 4_5_6 theory uncertainties

Systematic: "LOMGSig_PDFas"
  Title: "LOMGSig_PDFas"
  Type: HISTO
  DropNorm: all
  HistoNameSufUp: "LOMGSig_PDFas__1up"
  HistoNameSufDown: "LOMGSig_PDFas__1down"
  Samples: SigQCDLOMGH7,SigEWLOMGH7_MTBin1,SigEWLOMGH7_MTBin2,SigEWLOMGH7_MTBin3,SigEWLOMGH7_MTBin4,SigEWLOMGH7_MTBin5,SigEWLOMGH7_MTBin6,SigEWLOMGH7_MTBin7,SigEWLOMGH7_MTBin8,SigINTLOMGH7_MTBin1,SigINTLOMGH7_MTBin2,SigINTLOMGH7_MTBin3,SigINTLOMGH7_MTBin4,SigINTLOMGH7_MTBin5,SigINTLOMGH7_MTBin6,SigINTLOMGH7_MTBin7,SigINTLOMGH7_MTBin8
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Theory
  SubCategory: ssWW

Systematic: "LOMGSig_scale"
  Title: "LOMGSig_scale"
  Type: HISTO
  DropNorm: all
  HistoNameSufUp: "LOMGSig_scale__1up"
  HistoNameSufDown: "LOMGSig_scale__1down"
  Samples: SigQCDLOMGH7,SigEWLOMGH7_MTBin1,SigEWLOMGH7_MTBin2,SigEWLOMGH7_MTBin3,SigEWLOMGH7_MTBin4,SigEWLOMGH7_MTBin5,SigEWLOMGH7_MTBin6,SigEWLOMGH7_MTBin7,SigEWLOMGH7_MTBin8,SigINTLOMGH7_MTBin1,SigINTLOMGH7_MTBin2,SigINTLOMGH7_MTBin3,SigINTLOMGH7_MTBin4,SigINTLOMGH7_MTBin5,SigINTLOMGH7_MTBin6,SigINTLOMGH7_MTBin7,SigINTLOMGH7_MTBin8
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Theory
  SubCategory: ssWW

Systematic: "LOMGSig_alt_PS"
  Title: "LOMGSig_alt_PS"
  Type: HISTO
  DropNorm: all
  HistoNameSufUp: "LOMGSig_alt_PS"
  Samples: SigQCDLOMGH7,SigEWLOMGH7_MTBin1,SigEWLOMGH7_MTBin2,SigEWLOMGH7_MTBin3,SigEWLOMGH7_MTBin4,SigEWLOMGH7_MTBin5,SigEWLOMGH7_MTBin6,SigEWLOMGH7_MTBin7,SigEWLOMGH7_MTBin8,SigINTLOMGH7_MTBin1,SigINTLOMGH7_MTBin2,SigINTLOMGH7_MTBin3,SigINTLOMGH7_MTBin4,SigINTLOMGH7_MTBin5,SigINTLOMGH7_MTBin6,SigINTLOMGH7_MTBin7,SigINTLOMGH7_MTBin8
  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Theory
  SubCategory: ssWW

Systematic: "NLOEWQCD"
  Title: "NLOEWQCD"
  Type: HISTO
  DropNorm: all
  HistoNameSufUp: "NLOEWQCD"
  Samples: SigEWLOMGH7_MTBin1,SigEWLOMGH7_MTBin2,SigEWLOMGH7_MTBin3,SigEWLOMGH7_MTBin4,SigEWLOMGH7_MTBin5,SigEWLOMGH7_MTBin6,SigEWLOMGH7_MTBin7,SigEWLOMGH7_MTBin8
  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Theory
  SubCategory: ssWW

# H++ theory uncertainties

Systematic: "GMH5_PDFas"
  Title: "GMH5_PDFas"
  Type: HISTO
  DropNorm: all
  HistoNameSufUp: "GMH5_PDFas__1up"
  HistoNameSufDown: "GMH5_PDFas__1down"
  Samples: SigH5pp_m900_MTBin1,SigH5pp_m900_MTBin2,SigH5pp_m900_MTBin3,SigH5pp_m900_MTBin4,SigH5pp_m900_MTBin5,SigH5pp_m900_MTBin6,SigH5pp_m900_MTBin7,SigH5pp_m900_MTBin8
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Theory
  SubCategory: H5pp
  ExcludeRegionSample: LowMjjMTBin1all:SigH5pp_m900_MTBin1,LowMjjall:SigH5pp_m900_MTBin1,LowMjjallMT:SigH5pp_m900_MTBin1,SRMTBin1all:SigH5pp_m900_MTBin1,SRall:SigH5pp_m900_MTBin1,SRallMT:SigH5pp_m900_MTBin1

Systematic: "GMH5_scale"
  Title: "GMH5_scale"
  Type: HISTO
  DropNorm: all
  HistoNameSufUp: "GMH5_scale__1up"
  HistoNameSufDown: "GMH5_scale__1down"
  Samples: SigH5pp_m900_MTBin1,SigH5pp_m900_MTBin2,SigH5pp_m900_MTBin3,SigH5pp_m900_MTBin4,SigH5pp_m900_MTBin5,SigH5pp_m900_MTBin6,SigH5pp_m900_MTBin7,SigH5pp_m900_MTBin8
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Theory
  SubCategory: H5pp
  ExcludeRegionSample: LowMjjMTBin1all:SigH5pp_m900_MTBin1,LowMjjall:SigH5pp_m900_MTBin1,LowMjjallMT:SigH5pp_m900_MTBin1,SRMTBin1all:SigH5pp_m900_MTBin1,SRall:SigH5pp_m900_MTBin1,SRallMT:SigH5pp_m900_MTBin1

# H5pp uncalculated NLO EW corrections
Systematic: "GMH5_NLOEW"
  Title: "GMH5_NLOEW"
  Type: OVERALL
  OverallUp: 0.07
  OverallDown: -0.07
  Samples: SigH5pp_m900_MTBin1,SigH5pp_m900_MTBin2,SigH5pp_m900_MTBin3,SigH5pp_m900_MTBin4,SigH5pp_m900_MTBin5,SigH5pp_m900_MTBin6,SigH5pp_m900_MTBin7,SigH5pp_m900_MTBin8
  Category: Theory
  SubCategory: H5pp
  ExcludeRegionSample: LowMjjMTBin1all:SigH5pp_m900_MTBin1,LowMjjall:SigH5pp_m900_MTBin1,LowMjjallMT:SigH5pp_m900_MTBin1,SRMTBin1all:SigH5pp_m900_MTBin1,SRall:SigH5pp_m900_MTBin1,SRallMT:SigH5pp_m900_MTBin1

### Systematics with separate tree:
